{% extends "base.html" %}
{% load static %}

{% block body_block%}
<link rel="stylesheet" href="{% static 'style/about.css' %}">

<div class="about">

<h1>about us </h1>
<hr>

<div class="container">
    
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat neque nemo deleniti, earum libero cupiditate dolorem maxime ea dolorum nisi omnis aliquam fugiat cumque, placeat ut fuga vero vel ullam ab labore laborum. Nemo nam nihil aut explicabo modi expedita nisi similique quam. Odit ratione hic eius laboriosam! Illo delectus sunt rerum vitae alias recusandae facere incidunt veritatis id voluptatum odio magnam ab, quisquam vel hic magni sit. Suscipit repudiandae deserunt qui quis aut quibusdam exercitationem, hic sint beatae eligendi libero. Aperiam neque fugit accusamus hic? Nihil, iste cupiditate officia id placeat consequatur dicta, quos nobis est porro vitae sequi.

</div>

</div>

{% endblock %}
