{% extends "base.html" %}
{% load static %}
{% block body_block %}
<link rel="stylesheet" href="{% static 'style/login.css' %}">
<div class="container">
    <div class="jumbotron ">
<h1 id="head">Login Here!!</h1>
<hr>
<form action="{% url 'login' %}" method="post">
    
    {% csrf_token %}
    {{ form.as_p }}
<div class="login">
    <label for="username">Username</label>
    <input type="text"  id="user" placeholder="enter username">
</div>
    <br>
<div class="login">
    <label for="password">Password</label>
    <input type="password"  id="password" placeholder="enter password">
    <br>
</div>
<br>
<div class="login">
    <input type="submit" value="LOGIN" id="login" class="btn btn-dark">

</div>
</form>
</div>
</div>
{% endblock %}